<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AlbumsActivity"
            android:label="@string/albums">
        </activity>
        <activity
            android:name=".activity.NowplayingActivity"
            android:label="@string/now_playing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SongsActivity"
            android:label="@string/category_songs">
        </activity>
        <activity
            android:name=".activity.FavoriteActivity"
            android:label="@string/favorite">
        </activity>
    </application>

</manifest>